<div>
  <div class="row">
    <div>
      <div class="title-page">
        <strong> Novo contato </strong>
      </div>

      <form class="form-wrapper" name="firstForm">
        <div class="form-row">
          <p>Nome</p>
          <input type="text" name="name" ng-model="$ctrl.user.name" required="required" />
        </div>
        <div class="form-row">
          <p>Email</p>
          <input type="text" name="email" ng-model="$ctrl.user.email" required="required" />
        </div>
        <div class="wrapper-button">
          <button class="button-default" ng-click="$ctrl.createUser($ctrl.user)">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>